stages:
  - test
  - trigger

test:
  stage: test
  tags:
    - docker
  image: ubuntu:latest
  script:
    - apt update
    - apt install -y python3 cython3 gpg
    - ./run_tests.py

trigger_poezio:
  stage: trigger
  tags:
    - docker
  image: appropriate/curl:latest
  script:
    - curl --request POST -F token="$SLIXMPP_TRIGGER_TOKEN" -F ref=master https://lab.louiz.org/api/v4/projects/18/trigger/pipeline
